<div th:fragment="eventModal">
    <!-- Modal -->
    <div class="modal fade" id="eventModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Eventos do Dia</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                </div>
                <div class="modal-body">
                    <div id="eventDateDisplay" class="mb-3 fw-bold"></div>
                    <div id="eventSelection" class="mb-3">
                        <!-- Lista de eventos será inserida aqui -->
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                    <button type="button" class="btn btn-primary" id="detailsButton">Ver Detalhes</button>
                </div>
            </div>
        </div>
    </div>
</div>